<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
  crossorigin="anonymous"
/>
<link
rel="stylesheet"
href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
crossorigin="anonymous"
/>
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}">
    <style>
        
     
    </style>   
 
  </head>
  <body>
    
    <div class="area">
       <br><br><br><br><br><br><br>
        
            <center>
                {% with messages = get_flashed_messages(with_categories=true) %} {% if
                    messages %} {% for category, message in messages %} {% if category ==
                    'error' %}
                    <div class="alert alert-danger alter-dismissable fade show" role="alert">
                      {{ message }}
                      <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    {% else %}
                    <div class="alert alert-success alter-dismissable fade show" role="alert">
                      {{ message }}
                      <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    {% endif %} {% endfor %} {% endif %} {% endwith %}
                    </center>
        
       <center>
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="email">Student email</label>
                <input type="text" class="form-control" id="email"
                    placeholder="Enter student Email" name="email">
            </div>
            <div class="form-group">
            <label for="subject">Subject Name</label>
                <input type="text" class="form-control" id="subject"
                    placeholder="Enter Subject Name" name="subject">
            </div><br>
            <input type="file" name="file" id="file">
            <input type="submit" value="Upload and Process">
            <br><br>
            <div class="form-group">
                <label for="username">Key Point</label>
                <input type="text" class="form-control" id="keypoints"
                    placeholder="Enter key point" name="keypoints">
            </div>
        </form>
        
        </center>
       
        
    <style>
        .form-group{
            max-width: 800px; /* Set the maximum width for the area */
            margin: 0 auto; /* Center the area horizontally */
            padding: 0 15px; /* Add padding to the area */
        }
    </style>
    </div><nav class="main-menu">
        
            <ul>
                <li>
                    <a href="{{url_for('views.teacherdashboard')}}">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                           Home
                        </span>
                    </a>
                  
                </li>
                
               <li class="has-subnav">
                    <a href="{{url_for('views.teachereditdashboard')}}">
                        <i class="fa fa-edit fa-2x"></i>
                        <span class="nav-text">
                            Edit details
                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav">
                    <a href="{{url_for('views.teacherchangepassword')}}">
                       <i class="fa fa-lock fa-2x"></i>
                        <span class="nav-text">
                            Change password
                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav">
                    <a href="{{url_for('views.studentverification')}}">
                       <i class="fa fa-user fa-2x"></i>
                        <span class="nav-text">
                            Student Verification
                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav">
                    <a href="#">
                       <i class="fa fa-upload fa-2x"></i>
                        <span class="nav-text">
                            Upload answer sheet
                        </span>
                    </a>
                   
                </li>
                
            </ul>
            
            <ul class="logout">
                <li>
                   <a href="{{url_for('auth.logout')}}">
                         <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Logout
                        </span>
                    </a>
                </li>  
            </ul>
            
        </nav>
        
        <script
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"
      ></script>
      <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
   
         
</body>
    </html>